{% extends "base.html" %}

{% block title %}Gallery{%endblock%}
{% block scripts%}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<style type="text/css">
    .leaflet-container{background-color:#c5e8ff;}
</style>
{%endblock%}
{% block body %}

<div class = "container" style = "padding-top: 70px;">
  
    <div id="map" style="width: 600px; height: 400px"></div>

    <div id = "displayImages"></div>

</div>    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script>
        var myGeoJSONPath = 'static/geo.json';
        var myCustomStyle = {
            stroke: false,
            fill: true,
            fillColor: '#fff',
            fillOpacity: 1
        }
        $.getJSON(myGeoJSONPath,function(data){
            var mapboxAccessToken = "pk.eyJ1IjoidG9rb25vbW8iLCJhIjoiY2toaTY1M3Y0MG9qNDJzcDlnbzJoZTI4ZyJ9.FwqCfi82ZxqeitStLwtkWA";
            var map = L.map('map').setView([25.74739, 105], 3);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
                id: 'mapbox/light-v9',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(map);


            function style(feature) {
                return {
                    fillColor: '#E31A1C',
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

                function highlightFeature(e) {
                    var layer = e.target;

                    layer.setStyle({
                        fillColor: '#FC4E2A',
                        weight: 5,
                        color: '#666',
                        dashArray: '',
                        fillOpacity: 0.7
                    });

                    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                        layer.bringToFront();
                    }

                    info.update(layer.feature.properties);
                }

                var geojson;
                

                function resetHighlight(e) {
                    geojson.resetStyle(e.target);
                    info.update();
                }

                function getPhotos(e) {
                    console.log(e.target.feature.properties.name)
                    $.ajax({
                        url: "/gallery",
                        type: "POST",
                        data: {"country": e.target.feature.properties.name},
                        success: function(response) {
                            $('div#displayImages').html(response.data) ;
                        },
                    });     
                }

                function onEachFeature(feature, layer) {
                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        click: getPhotos
                    });
                }


                geojson = L.geoJson(data, {
                    style: style,
                    onEachFeature: onEachFeature
                }).addTo(map);

                var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// method that we will use to update the control based on feature properties passed
info.update = function (props) {
    this._div.innerHTML = '<h4>Country</h4>' +  (props ?
        '<b>' + props.name + '</b><br />'
        : 'Hover a country');
};

info.addTo(map);

        })
    </script>

</div>




{% endblock %}