{% extends "base.html" %} {% block title %}Search{%endblock%} {% block scripts %} {%endblock%} {% block body %}


<header>
    <div class="col-12 mt-2 mb-3 border-bottom">
        <h1>Search through the photo collections</h1>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 border-right">
            <div class="sticky-top">

                <form action="#" method="POST" class="mb-5 mt-3">
                    <h3>Text Query</h3>
                    <div class="form-group" id="text_form">
                        <input class="form-control" placeholder="Word (3 letters min.)" name="item" value="{{item}}" required/>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                      <input type="checkbox" style="vertical-align: middle;"class="form-check-input float-right" name="display_bb" {% if display_bb%}checked{%endif%}>Only show bounding box
                    </label >
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" style="vertical-align: middle;"class="form-check-input float-right" name="exact_word" {% if exact_word%}checked{%endif%}>Search for exact word
                        </label >  
                    </div>
             <button id="submit_text_search" type="submit" name="submit" value="text_search" class="btn btn-primary mt-2">Search text</button>
             <input  id="page_number" name="page_number" style='visibility: hidden;' type='number' value='0' />
            </form>


            <form action="#" method="POST" enctype="multipart/form-data" id="image_form">
              <div class="form-group">
                <h3>Image Query</h3>

            </div>
            <div class ="custom-file">
                <input type="file" name="image_file" class="custom-file-input" id="customFile" accept=".png,.jpg,.jpeg" required>
                <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <button type="submit" name="submit" value="image_search" class="btn btn-primary mt-3">Search Image</button>
                </form>

                <img class="mt-3" id="uploaded_image" style="width:100%"> {% if uploaded_image_url|length %}
                <h6 class="mt-3">Comparison image</h6>
                <img id="compared_image" style="width:100%" src="static/uploaded_images/{{uploaded_image_url}}"> {%endif%}

            </div>
        </div>

        <div class="col-9">
            {% if results|length > 0%}
            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Page {{page_number+1}} of {{number_of_results // page_size + 1}} - {{number_of_results}} total results {% if display_bb %}on {{results|length}} images{%endif%} </h1>

            <hr class="mt-2 mb-3">
            <div class="col-12 mb-2">
                <a>Page</a> {% for i in range(number_of_results // page_size + 1) %} {% if i == page_number %}
                <a name="change">{{i+1}}</a> {% else %}
                <a class="change_page" href="#" value={{i}}>{{i+1}}</a> {% endif %} {% endfor %}
            </div>
            <div class="text-center text-lg-left">
                {% for iiif_and_links in results %} {% for link in iiif_and_links[1] %}
                <a href="#iiif" class="col-3 open-iiif mb-5" data-iiif="{{iiif_and_links[0]}}" data-toggle="modal">
                    <img class="img-fluid img-thumbnail" src="{{link}}">
                </a>

                {% endfor %} {% endfor %}


            </div>
            {%elif not cold_start%}
            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">No results</h1>
            <hr class="mt-2 mb-5">
            <div class="alert alert-danger col-lg-3 col-md-4 col-6" role="alert">
                No matching result for {{item}}
            </div>
            {% endif %}


        </div>

    </div>
</div>



<script>
    $(".change_page").on("click", function(e) {
        var page = $(this).attr("value");
        $("#page_number").val(page);
        $("#submit_text_search").click();
    });

    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        if (fileName.length > 40) {
            fileName = fileName.slice(0, 40) + "..."
        }
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#uploaded_image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#customFile").change(function() {
        readURL(this);
    });
</script>

{% endblock %}