{% extends "base.html" %}

{% block title %}Search{%endblock%}

{% block body %}
<div class="container">
    <form action="#" method = "POST">
        <div class="form-group">
          <label>What item are you looking for ?</label>
          <input class="form-control" placeholder="Item" name="item" value = "{{default_item}}" required/>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="display_full" {% if full_default%}checked{%endif%}>
            <label class="form-check-label" >Display full images</label >
          </div>

        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

{% if not_found%}
<div class = "container">
    <div class="alert alert-danger" role="alert">
        No corresponding result
      </div>
</div>

{% endif %}

{% if results|length > 0%}
<div class="container">
    <img src = "{{results[0][1][0]}}" class="img-fluid" ></img>
</div>

{% endif %}

{% endblock %}